<div class="footer bg-dark">
    <h2 class="text-center text-white">
        GOOD FOOD
    </h2>
    <ul class="nav justify-content-center text-uppercase mt-5">
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">recipes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">FEATURES</a>
          </li> 
           <li class="nav-item">
            <a class="nav-link text-white" href="#">events</a>
          </li> 
           <li class="nav-item">
            <a class="nav-link text-white" href="#">POST TYPES
            </a>
          </li>
      </ul>
      <div class="soci-link text-center text-white mt-5">
        <a class="text-white" href="javascript:;"><i class="fa-brands fa-linkedin-in mr-4"></i></a>
        <a class="text-white" href="javascript:;"><i class="fa-brands fa-facebook-f mr-4"></i></a>
        <a class="text-white" href="javascript:;"><i class="fa-brands fa-twitter mr-4"></i></a>
        <a class="text-white" href="javascript:;"><i class="fa-brands fa-vimeo-v mr-2"></i></a>
    </div>
</div>
